.sidebar {
    width: 17%;
    background: #099fd6;
    min-height: 90vh;
    max-height: 100%;
    z-index: 1;
}

.sidebar a {
    color: white;
    padding: 12px;
    display: block;
    text-decoration: none
}

.sidebar li {
    position: relative;
}

.sidebar ul {
    margin: 0;
}

.menu > li > a{
    position: relative;
    z-index: 1;
    background: #099fd6;
}
.component {
    width: 83%;
    padding: 10px
}

.flex {
    display: flex;
}

.child-routes,
.child-route {
    text-decoration: none;
    display: block;
    list-style: none;
    width:100%;
    padding:0px;
    transition:all .25s ease-out;
}
.child-routes{
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 0;
}
.sidebar li > .child-route {
    transform: translateY(-100%);
    padding-left:20px;
    max-height:0px;
}
.sidebar li:hover > .child-route {
    display: block;
    background:red;
    max-height:500px;
    transform: translateY(0%);
}

.sidebar li > .child-routes {
    max-height: 0px;
    overflow: hidden;
}
.sidebar li:hover > .child-routes {
    transform: translateX(100%);
    background: #4AAAA5;
    opacity: 1;
    max-height:500px;

}