.sidebar {
    width: 17%;
    background: #099fd6;
    min-height: 90vh;
    max-height: 100%;
    z-index: 1;
}

.sidebar a {
    color: white;
    padding: 12px;
    display: block;
    text-decoration: none
}

.sidebar li {
    position: relative;
}

.sidebar ul {
    margin: 0;
}

.component {
    width: 83%;
    padding: 10px
}

.flex {
    display: flex;
}

.child-routes,
.child-route {
    text-decoration: none;
    display: none;
    list-style: none;
}

.sidebar li:hover > .child-routes,
.sidebar li:hover > .child-route {
    display: block;
}

.sidebar li:hover > .child-routes li {
    position: absolute;
    top: 0;
    right: -100px;
    background: #4AAAA5;
    width: 100px;
}